<script type="text/x-mustache-template" id="form-template">
      <legend>Add a sentence or a word</legend>
      <fieldset>
        <div class='control-group'>
          <label class='control-label' for='name'>Word</label>
          <div class='controls'>
            <input type='text' class='input-xlarge' id='name'>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='translation'>Translation/Meaning</label>
          <div class='controls'>
            <input type='text' class='input-xlarge' id='translation'>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </fieldset>
    </script>